@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);


  /* Font Family */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Consolas,
    'Liberation Mono', Menlo, monospace;

  /* Font Sizes */
  --font-size-h1: 3rem; /* 48px */
  --font-size-h2: 2.625rem; /* 42px */
  --font-size-h3: 2.25rem; /* 36px */
  --font-size-h4: 2rem; /* 32px */
  --font-size-h5: 1.75rem; /* 28px */
  --font-size-h6: 1.5rem; /* 24px */
  --font-size-body-xxl: 1.375rem; /* 22px */
  --font-size-body-xl: 1.25rem; /* 20px */
  --font-size-body-l: 1.125rem; /* 18px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-s: 0.875rem; /* 14px */
  --font-size-body-xs: 0.75rem; /* 12px */
  --font-size-body-xxs: 0.625rem; /* 10px */
  --font-size-caption: 0.75rem; /* 12px - for tooltips */

  /* Line Heights */
  --line-height-h1: 3.625rem; /* 58px */
  --line-height-h2: 3.125rem; /* 50px */
  --line-height-h3: 2.75rem; /* 44px */
  --line-height-h4: 2.5rem; /* 40px */
  --line-height-h5: 2.25rem; /* 36px */
  --line-height-h6: 2rem; /* 32px */
  --line-height-body-xxl: 1.625rem; /* 26px */
  --line-height-body-xl: 1.5rem; /* 24px */
  --line-height-body-l: 1.375rem; /* 22px */
  --line-height-body: 1.25rem; /* 20px */
  --line-height-body-s: 1.125rem; /* 18px */
  --line-height-body-xs: 1rem; /* 16px */
  --line-height-body-xxs: 0.875rem; /* 14px */
  --line-height-caption: 1rem; /* 16px - for tooltips */

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* White and Black */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Bluish Gray */
  --color-slate-01: #f9fafd;
  --color-slate-02: #f2f4f9;
  --color-slate-03: #e9ebf3;
  --color-slate-04: #dddfe7;
  --color-slate-05: #cacede;
  --color-slate-06: #abb0c2;
  --color-slate-07: #787e94;
  --color-slate-08: #5c6177;
  --color-slate-09: #3a3f53;
  --color-slate-10: #181c30;

  /* Gray Scale */
  --color-gray-01: #fcfcfc;
  --color-gray-02: #f7f7f7;
  --color-gray-03: #f1f1f1;
  --color-gray-04: #e9e9e9;
  --color-gray-05: #e0e0e0;
  --color-gray-06: #c0c0c0;
  --color-gray-07: #959595;
  --color-gray-08: #6f6f6f;
  --color-gray-09: #474747;
  --color-gray-10: #2b2b2b;

  /* Blue */
  --color-blue-01: #f4f9ff;
  --color-blue-02: #deefff;
  --color-blue-03: #83c0ff;
  --color-blue-04: #007BFF;
  --color-blue-05: #006fe3;

  /* Green */
  --color-green-01: #ebf9f0;
  --color-green-02: #b1e7c2;
  --color-green-03: #6fd690;
  --color-green-04: #42c66b;
  --color-green-05: #18ac47;

  /* Yellow */
  --color-yellow-01: #fffce9;
  --color-yellow-02: #fff4b9;
  --color-yellow-03: #ffeb82;
  --color-yellow-04: #fdda21;
  --color-yellow-05: #f1cb00;
  --color-yellow-06: #ffb300;

  /* Red */
  --color-red-01: #fff4f3;
  --color-red-02: #ffdedc;
  --color-red-03: #ffa09a;
  --color-red-04: #ff7169;
  --color-red-05: #f94d43;

  /* Purple */
  --color-purple-01: #f4f2ff;
  --color-purple-02: #e3ddff;
  --color-purple-03: #bf71f4;
  --color-purple-04: #a137ea;
  --color-purple-05: #890fdd;

  /* Pink */
  --color-pink-01: #fbeff4;
  --color-pink-02: #f5d6e4;
  --color-pink-03: #f680b7;
  --color-pink-04: #e62881;
  --color-pink-05: #bf1263;

  /* Orange */
  --color-orange-01: #fff5e8;
  --color-orange-02: #ffe5c6;
  --color-orange-03: #ffc682;
  --color-orange-04: #ffa337;
  --color-orange-05: #ff8a00;
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  hover {
    text-decoration: none;
  }
}

.background-gradient {
  background: linear-gradient(
    114.5deg,
    #0f3c6c 0.95%,
    #114574 52.35%,
    #247389 103.75%
  );
}

.header-background {
  background: rgba(255, 255, 255, 0.07);
}

.input-background {
  background: rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 1180px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }
}

.two-colors-background {
  background: linear-gradient(to bottom, white, var(--color-slate-01));
}

.two-colors-background-reverse {
  background: linear-gradient(to bottom, var(--color-slate-01), white);
}

.cards-shadow {
  box-shadow: 0px 2px 20px 0px #2b2b2b12;
}

.example-card-clamp {
  max-width: clamp(300px, 30%, 380px);

  @media(max-width: 768px) {
    max-width: 100%;
  }
}

.content-parser {
  h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  h6 {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  p {
    margin: 0.5rem 0;
  }

  blockquote {
    border-left: 4px solid #eee;
    padding-left: 1rem;
    color: #555;
  }

  ul,
  ol {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
  }

  li {
    margin: 0.25rem 0;
  }
}
